<section class="hero">

  <div class="container">

    <h1
      style="
        color:#000000;
        font-weight:900;
        text-shadow:none;
      "
    >
      PREDIKSI BOLA HARI INI
    </h1>

    <p
      id="dateLine"
      class="date"
    ></p>

  </div>

</section>
